:root {
    --main-color: #f25454;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666;
}

.w-90 {
    width: 90%;
}

.maincolor {
    color: var(--main-color);
}

#home {
    overflow: hidden;
    position: relative;
}

nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-link {
    color: #282828 !important;
}

.navbar-nav li a.active {
    color: var(--main-color) !important;
}

w.navbar-nav li a:hover,
.sociam-media i:hover {
    color: var(--main-color) !important;
}

.home-caption {
    top: 0;
    left: 100%;
    animation: moving 5s infinite;
    transition: all 2s;
}

.home-caption h2 {
    font-size: 100px;
    width: 40%;
}

@keyframes moving {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}


/* .carosel-control .h-10 {
    max-height: 20px;
} */

.carosel-control .w-10 {
    width: 5%;
    height: 5%;
}

.carosel-control .down {
    top: 50%;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-left: 0;
    padding: 20px;
}


/* .intro-arrow .icon:hover,
.carosel-control:hover {
    background-color: white !important;
    color: #f25454 !important;
} */

.carosel-control .up {
    top: 50%;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-left: 0;
    padding: 20px;
    margin-top: 40px;
}


/* .carosel-control .up:hover {
    background-color: white !important;
    color: #f25454 !important;
} */

header .mouse {
    width: 30px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #ffff;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translatex(-50%);
    z-index: 1;
    cursor: pointer;
    transition: all 1s;
}

header .mouse:hover {
    border-color: var(--main-color);
}


/* header .mouse:hover .mouse::after ::content {
    border-color: var(--main-color);
} */

header .mouse::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffff;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    top: 15%;
    animation: mouse-move 2s infinite ease;
}

@keyframes mouse-move {
    0% {
        top: 15%;
        opacity: 1;
    }
    100% {
        top: 60%;
        opacity: .3;
    }
}

.setting {
    position: fixed;
    top: 20%;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    z-index: 3;
}

.heading {
    position: relative;
}

.heading p {
    color: #999;
}

.fs-4rm {
    font-size: 4rem;
    opacity: 10%;
}

h2,
.h2 {
    font-family: "Poppins", sans-serif;
    color: #282828;
    font-weight: 700;
    font-size: 38px;
}

.brdr {
    width: 40px;
    height: 1px;
    margin: auto;
    background-color: black;
    transition: all 2s;
}

.heading:hover .brdr {
    width: 80px;
}

/*--------------------------------------------- about section--------------- */
.title h2{
    font-size: 75px;
    font-weight: 800;
    color: #f1f1f1;
}
 

.section-title:hover ::after{
    width: 90;
}
.section-title  p{
   color: #999;
   font-size: 18;
}
.parag{
    font-family: "Open Sans", sans-serif;;
    font-weight: 400;
    color: #666666 ;
}
.bar .progress-bar{
    background-color: var(--main-color);
}